<!--<< Header Area >>-->
<%- include('head'); -%>


<body class="bg-color2">

    <!-- Preloader Start -->
    <%- include('preloader'); -%>

    <!--<< Mouse Cursor Start >>-->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- Back To Top Start -->
    <button id="back-top" class="back-to-top">
        <i class="fa-regular fa-arrow-up"></i>
    </button>

    <!-- Offcanvas Area Start -->
    <%- include('offcanvas'); -%>

    <!-- Header Section Start -->
    <%- include('header'); -%>


    <!-- Search Area Start -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Breadcumb Section   S T A R T -->
    <div class="breadcumb-section">
        <div class="breadcumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title">My Account</h1>
                            <ul class="breadcumb-menu">
                                <li><a href="/">Home</a></li>
                                <li class="text-white">/</li>
                                <li class="active">My Account</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Account Section    S T A R T -->
    <div class="account-section section-padding fix">
        <div class="container">
            <div class="account-wrapper bg-white p-1 p-sm-4">
                <div class="row gx-40 gy-5 gy-md-0">
                    <div class="col-lg-6">
                        <div class="account-card bg-color2 p-3 p-sm-5">
                            <h3>Welcome Back</h3>
                            <p>Please Enter Your Details</p>
                            <div class="contact-form style2 bg-color2 p-0">
                                <form class="row" action="#">
                                    <div class="col-12">
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="col-12">
                                        <div class="form-ctl">
                                            <input type="password" placeholder="Password">
                                            <div class="icon"><i class="fa-sharp fa-solid fa-eye-slash"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-6 form-group">
                                        <input id="reviewcheck" name="reviewcheck" type="checkbox">
                                        <label for="reviewcheck">Remember For 30 days<span
                                                class="checkmark"></span></label>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <a href="#" class="text-theme-color">Forgot Password?</a>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="theme-btn rounded-5 w-100 mb-3">Log In</button>
                                    </div>
                                    <div class="col-12">
                                        <a href="https://www.google.com"
                                            class="theme-btn rounded-5 w-100 bg-white text-center text-title fw-bold"><img
                                                class="me-2" src="/img/logo/googleLogo.png" alt="logo"> Log In
                                            With Google</a>
                                    </div>
                                </form>

                                <h6>Don’t have an account? <a href="#" class="text-theme-color">Sign Up</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="account-thumb">
                            <img src="/img/profile/profile.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Section    S T A R T -->
    <%- include('footer'); -%>

    <!--<< All JS Plugins >>-->
    <%- include('script'); -%>
</body>

</html>