<!--<< Header Area >>-->
<%- include('head'); -%>

    <body class="bg-color2">

        <!-- Preloader Start -->
        <%- include('preloader'); -%>

            <!--<< Mouse Cursor Start >>-->
            <div class="mouse-cursor cursor-outer"></div>
            <div class="mouse-cursor cursor-inner"></div>

            <!-- Back To Top Start -->
            <button id="back-top" class="back-to-top">
                <i class="fa-regular fa-arrow-up"></i>
            </button>

            <!-- Offcanvas Area Start -->
            <%- include('offcanvas'); -%>

                <!-- Header Section Start -->
                <%- include('header'); -%>


                    <!-- Search Area Start -->
                    <div class="search-wrap">
                        <div class="search-inner">
                            <i class="fas fa-times search-close" id="search-close"></i>
                            <div class="search-cell">
                                <form method="get">
                                    <div class="search-field-holder">
                                        <input type="search" class="main-search-input" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Breadcumb Section   S T A R T -->
                    <div class="breadcumb-section">
                        <div class="breadcumb-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="breadcumb-content">
                                            <h1 class="breadcumb-title">Checkout</h1>
                                            <ul class="breadcumb-menu">
                                                <li><a href="/">Home</a></li>
                                                <li class="text-white">/</li>
                                                <li class="active">Checkoutt</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="th-checkout-wrapper section-padding fix">
                        <div class="container">

                            <form action="#" class="woocommerce-checkout mt-5">
                                <div class="row ">

                                    <div class="col-lg-12">
                                <div class="head-content d-flex justify-content-between">
                                    <h2 class="h4">Billing Details</h2>

                                    <div class="d-flex justify-content-between gap-3">

                                        <p id="pickup-option">
                                        <input id="pickup-checkbox" type="checkbox" name="pickup" value="1" checked>
                                        <label for="pickup-checkbox">
                                            PICKUP
                                            <span class="checkmark"></span>
                                        </label>
                                        </p>

                                        <p id="delivery-option">
                                        <input id="delivery-checkbox" type="checkbox" name="delivery" value="2">
                                        <label for="delivery-checkbox">
                                            DELIVERY
                                            <span class="checkmark"></span>
                                        </label>
                                        </p>

                                    </div>
                                </div>


                                        <div class="shipping_address mt-1">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input type="text"
                                                    name="first_name"
                                                    value="" class="form-control" placeholder="First Name">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text"
                                                    name="last_name" value=""  class="form-control" placeholder="Last Name">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text"
                                                    name="email" value="" class="form-control" placeholder="Email Address">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text"
                                                    name="phone_number" value=""  class="form-control" placeholder="Phone number">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text" 
                                                    name="city" value="" class="form-control" placeholder="Town/City">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text"
                                                    name="zip" value="" class="form-control" placeholder="zip">
                                                </div>
                                                <div class="col-12 form-group">
                                                    <textarea cols="20" rows="5" class="form-control"
                                                    name="address"
                                                    value="" 
                                                        placeholder="Address"></textarea>
                                                </div>
                                                <div class="form-row place-order">
                                                    <button type="submit" class="theme-btn">Payment</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>



                    <!-- Footer Section    S T A R T -->
                    <%- include('footer'); -%>




                        <!--<< All JS Plugins >>-->
                        <%- include('script'); -%>
                        <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    const pickupCheckbox = document.getElementById("pickup-checkbox");
                                    const deliveryCheckbox = document.getElementById("delivery-checkbox");

                                    function handleSelection() {
                                    // Uncheck the other one
                                    if (this.id === "pickup-checkbox") {
                                        deliveryCheckbox.checked = false;
                                        // Optional redirect if you want
                                        // window.location.href = "/pickup";
                                    } else {
                                        pickupCheckbox.checked = false;
                                        // Redirect to delivery page
                                        window.location.href = "/delivery";
                                    }
                                    }

                                    pickupCheckbox.addEventListener("change", handleSelection);
                                    deliveryCheckbox.addEventListener("change", handleSelection);
                                });
                        </script>
    </body>

    </html>