<!--<< Header Area >>-->
<%- include('head'); -%>

<body class="bg-color2">

    <!-- Preloader Start -->
    <%- include('preloader'); -%>

    <!--<< Mouse Cursor Start >>-->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- Back To Top Start -->
    <button id="back-top" class="back-to-top">
        <i class="fa-regular fa-arrow-up"></i>
    </button>

    <!-- Offcanvas Area Start -->
    <%- include('offcanvas'); -%>

    <!-- Header Section Start -->
    <%- include('header'); -%>


    <!-- Search Area Start -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Breadcumb Section   S T A R T -->
    <div class="breadcumb-section">
        <div class="breadcumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title">Gallery</h1>
                            <ul class="breadcumb-menu">
                                <li><a href="index.html">Home</a></li>
                                <li class="text-white">/</li>
                                <li class="active">Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Gallery Section    S T A R T -->
    <div class="gallery-section section-padding fix">
        <div class="container">
            <div class="row gy-4 mb-4">
                <div class="col-lg-5">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_1.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_2.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_3.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gy-4 mb-4">
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_4.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_5.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_6.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gy-4 mb-4">
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_7.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_8.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_9.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_10.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_11.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_12.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section    S T A R T -->
    <%- include('footer'); -%>

    <!--<< All JS Plugins >>-->
    <%- include('script'); -%>

</body>

</html>