<!--<< Header Area >>-->
<%- include('head'); -%>

<body class="bg-color2">

    <!-- Preloader Start -->
    <%- include('preloader'); -%>

    <!--<< Mouse Cursor Start >>-->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- Back To Top Start -->
    <button id="back-top" class="back-to-top">
        <i class="fa-regular fa-arrow-up"></i>
    </button>

    <!-- Offcanvas Area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="/img/logo/logo.svg" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-lg-block">
                        This involves interactions between a business and its customers. It's about meeting customers'
                        needs and resolving their problems. Effective customer service is crucial.
                    </p>
                    <div class="offcanvas-gallery-area d-none d-xl-block">
                        <div class="offcanvas-gallery-items">
                            <a href="/img/header/01.jpg" class="offcanvas-image img-popup">
                                <img src="/img/header/01.jpg" alt="gallery-img">
                            </a>
                            <a href="/img/header/02.jpg" class="offcanvas-image img-popup">
                                <img src="/img/header/02.jpg" alt="gallery-img">
                            </a>
                            <a href="/img/header/03.jpg" class="offcanvas-image img-popup">
                                <img src="/img/header/03.jpg" alt="gallery-img">
                            </a>
                        </div>
                        <div class="offcanvas-gallery-items">
                            <a href="/img/header/04.jpg" class="offcanvas-image img-popup">
                                <img src="/img/header/04.jpg" alt="gallery-img">
                            </a>
                            <a href="/img/header/05.jpg" class="offcanvas-image img-popup">
                                <img src="/img/header/05.jpg" alt="gallery-img">
                            </a>
                            <a href="/img/header/06.jpg" class="offcanvas-image img-popup">
                                <img src="/img/header/06.jpg" alt="gallery-img">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+013-003-003-9993"><span
                                            class="mailto:info@enofik.com">info@fresheat.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">
                            <a href="shop.html" class="theme-btn">
                                <span class="button-content-wrapper d-flex align-items-center justify-content-center">
                                    <span class="button-icon"><i
                                            class="fa-sharp fa-regular fa-cart-shopping bg-transparent text-white me-2"></i></span>
                                    <span class="button-text">ORDER NOW</span>
                                </span>
                            </a>
                        </div>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Header Section Start -->
    <%- include('header'); -%>


    <!-- Search Area Start -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Breadcumb Section   S T A R T -->
    <div class="breadcumb-section">
        <div class="breadcumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title">Gallery</h1>
                            <ul class="breadcumb-menu">
                                <li><a href="index.html">Home</a></li>
                                <li class="text-white">/</li>
                                <li class="active">Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Gallery Section    S T A R T -->
    <div class="gallery-section section-padding fix">
        <div class="container">
            <div class="row gy-4 mb-4">
                <div class="col-lg-5">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_1.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_2.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_3.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gy-4 mb-4">
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_4.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_5.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_6.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gy-4 mb-4">
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_7.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_8.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_9.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_10.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_11.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-thumb style2">
                        <a href="menu.html">
                            <img src="/img/gallery/galleryThumb2_12.jpg" alt="thumb">
                            <div class="icon"><img src="/img/icon/arrow_icon.png" alt="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section    S T A R T -->
    <%- include('footer'); -%>

    <!--<< All JS Plugins >>-->
    <%- include('script'); -%>

</body>

</html>